Babel==2.9.1
chardet==4.0.0
cryptography==3.4.8
decorator==4.4.2
docutils==0.17
ebaysdk==2.1.5
freezegun==1.1.0
geoip2==2.9.0
psycopg2-binary==2.9.9
# gevent est volontairement supprimé pour éviter les erreurs de build
